.main
{
  text-align: center;
}

.table, th, td
{
  width:60%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding:10px;
}

.nav ul li
{
 list-style-type: none;
 width: 250px;
 border: 1px solid darkgrey;
 background-color: lightgray;
 text-align: center;
}

.nav a
{
  display: block;
  text-decoration: none;
  color:black;
}

.nav a:hover
{
  background-color: grey;
  color:white;
}

.nav li .active
{
  background: black;
  color: white;
}

.green
{
  background-color: rgba(124,255,105,0.5);
}

.yellow
{
  background-color: rgba(240,240,50,0.5);
}

.red
{
  background-color:rgba(230,58,37,0.5);
}

.blue
{
  background-color:rgba(43, 203, 238, 0.3);
}
