.nav, .main
{
display:inline-block;
width:60%;
}

.nav
{
width: 15rem;
position:relative;
left: 25px;
bottom: 300;
scale: 1
}

h3
{
  background-color: darkgrey;
  width: 175px;
  text-align: center;
  margin: 15px;
  height: 30;
}
