.title
{
  text-align:center;
}

.table, th, td
{
  border: 1px solid black;
  border-collapse: collapse;
  text-align:center;
  padding:10px;
}

.nav, ul
{
 list-style-type: none;

 margin: 0;
 padding: 0;
 width: 250px;
 border: 1px solid darkgrey;
 background-color: lightgray;
 text-align: center;
}

.nav li
{
  border-bottom: 1px solid darkgray;
}

.nav li a
{
  display: block;
  text-decoration: none;
  color:black;
}

.nav li:last-child
{
  border-bottom: none;
}

.nav a:hover
{
  background-color: grey;
  color:white;
}

.nav li:hover
{
  background-color: grey;
  color:white;
}

.nav li .active
{
  background: black;
  color: white;
}

.green
{
  background-color: rgba(124,255,105,0.5);
}

.yellow
{
  background-color: rgba(240,240,50,0.5);
}

.red
{
  background-color:rgba(230,58,37,0.5);
}